/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
}
 /* GENERAL STYLES */
 .content {
  background-color: #eeeeee;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 120px 1fr 120px;
}
.centerH {
  display: flex;
  width: 100%;
  justify-content: center;
}

.centerW {
  display: flex;
  align-items: center;
  height: 100%;
}
.centerC{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

}
.cFull{
  width: 100%;
  height: 100%;
}
.wFull{
  width: 100%;
}
.b-r10{
  border-radius: 10px;
  overflow: hidden;
}


.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.titleCc{
  font-size: 35px;
  margin-left: 10px;
  // margin-top: 15px;
}
.mt1 {
  margin-top: 1rem;
}
.mt2 {
  margin-top: 2rem;
}
.mb1{
  margin-bottom: 1rem;
}
.mr3{
  margin-right: 3rem;
}

.baseLine{
  display: flex;
  // justify-content: baseline;
  align-items: baseline;
}
.betweenC{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.endC{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
// Containers Styles

.cContainer{
  // background-color: rgb(236, 236, 164);
  position: relative;
  height: 90vh;
  margin: 1rem;
  width: 78vw;
  padding: 1.2rem;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 40px 1fr;
  row-gap: 1rem;
  background-color: white;
}
.ccTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  color: #454545;
  height: 100%;
  // margin-bottom: 1rem;
  // padding: 0 1rem;
  // background-color: rgba(75, 185, 75, 0.397);
}

.searchData{
  // height: 50px;
//   width: 500px;
margin-top: 16px;
font-size: 11px;
margin-right: 2rem;
}
.ccTitleBtn{
  // width: 120px;
  background-color: rgb(75, 185, 75);
  color: white;
  height: 40px;
}
.ccTitleBtn mat-icon{
  margin-right: 7px;
}

.imgForm {
  height: 100%;
  width: 30%;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
