<div class="cContainer mat-elevation-z2 mt1">
    <div class="ccTitle ">
        <div>
            <span class="icon fas fa-store"></span>
            <span class="titleCc">Ventas </span>
        </div>
        <div class="centerW">
            <mat-form-field appearance="outline" class="searchData">
                <mat-label>Buscar Venta</mat-label>
                <input matInput placeholder="Id Nombre Doc">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <button mat-flat-button class="ccTitleBtn" routerLink="add">
                <mat-icon>add_circle_outline</mat-icon>
                <span>Add Venta</span>
            </button>
        </div>
    </div>

    <mat-progress-bar mode="indeterminate"></mat-progress-bar>


</div>