<div class="cContainer mat-elevation-z2 mt1">
  <div class="ccTitle backBtn">
    <div class="baseLine row">
      <span class="icon fas fa-cart-plus"></span>
      <span class="titleCc">Nueva venta </span>
    </div>
    <button mat-icon-button routerLink="../">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>

  <div class="wFull paddR" *ngIf="!loadDist || !loadProduct">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="cFull" *ngIf="loadDist && loadProduct">
    <div class="wFull">
      <div class="rowForm1">
        <!-- Cliente -->
        <mat-form-field appearance="outline">
          <mat-label>Cliente</mat-label>
          <mat-select [(value)]="nVenta.idcliente">
            <mat-option
              *ngFor="let cliente of clientes"
              [value]="cliente.idcliente"
            >
              {{cliente.nombre}}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <div></div>
        <!-- Tipo Pago1 -->
        <mat-form-field appearance="outline">
          <mat-label>Tipo de pago 1</mat-label>
          <mat-select [(value)]="nVenta.metpago1">
            <mat-option [value]="0">Efectivo</mat-option>
            <mat-option [value]="1">Transferencia</mat-option>
            <mat-option [value]="3">Depósito</mat-option>
            <mat-option [value]="4">Yape</mat-option>
            <mat-option [value]="5">Tarjeta Crédito/Débito</mat-option>
            <mat-option [value]="6">Crédito</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Monto Pago1 -->
        <mat-form-field appearance="outline" class="w1-2">
          <mat-label>Pago 1</mat-label>
          <input
            matInput
            [(ngModel)]="nVenta.montpago1"
            (ngModelChange)="nVenta.saldo=$event+nVenta.montpago2"
            type="number"
            oninput="this.value=this.value.slice(0,this.maxLength)"
            min="0"
            maxlength="9"
          />
          <span matPrefix>S/.&nbsp;</span>
        </mat-form-field>
        <!-- Saldo -->
        <mat-form-field appearance="outline">
          <mat-label>Saldo</mat-label>
          <input matInput type="text" [(ngModel)]="nVenta.saldo" disabled />
          <span matPrefix class="cashDisable">S/.&nbsp;</span>
        </mat-form-field>
        <!-- Nota adicional de la Venta -->
        <mat-form-field appearance="outline" class="colums2">
          <mat-label>Nota adicional de la Venta</mat-label>
          <input matInput [(ngModel)]="nVenta.nota" type="text" />
        </mat-form-field>
        <!-- Tipo Pago2 -->
        <mat-form-field appearance="outline">
          <mat-label>Tipo de Pago 2</mat-label>
          <mat-select [(value)]="nVenta.metpago2">
            <mat-option [value]="0">Efectivo</mat-option>
            <mat-option [value]="1">Transferencia</mat-option>
            <mat-option [value]="3">Depósito</mat-option>
            <mat-option [value]="4">Yape</mat-option>
            <mat-option [value]="5">Tarjeta Crédito/Débito</mat-option>
            <mat-option [value]="6">Crédito</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Monto Pago2 -->
        <mat-form-field appearance="outline" class="w1-2">
          <mat-label>Pago 2</mat-label>
          <input
            matInput
            [(ngModel)]="nVenta.montpago2"
            (ngModelChange)="nVenta.saldo=$event+nVenta.montpago1"
            type="number"
            oninput="this.value=this.value.slice(0,this.maxLength)"
            min="0"
            maxlength="9"
          />
          <span matPrefix>S/.&nbsp;</span>
        </mat-form-field>
        <!-- Vuelto -->
        <mat-form-field appearance="outline">
          <mat-label> <strong>Vuelto</strong></mat-label>
          <input
            matInput
            type="text"
            disabled
            value="{{nVenta.saldo-nVenta.totventa}}"
          />
          <span matPrefix class="cashDisable">S/.&nbsp;</span>
        </mat-form-field>
      </div>
    </div>
    <div class="rowForm2">
      <!-- Selector de Productos -->
      <mat-form-field appearance="outline">
        <mat-label>Agregar productos</mat-label>
        <mat-select
          [formControl]="productsControl"
          (selectionChange)="select($event.value)"
          multiple
        >
          <ng-container *ngFor="let product of productos">
            <mat-option *ngIf="product.visible" [value]="product.codproducto">
              {{product.producto}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <!-- caja de Nombre de Productos -->
      <div class="nameProducts wFull row">
        <div class="productsDiv">{{nombresProductos}}</div>
        <button
          mat-flat-button
          color="primary"
          class="btnAddProduct"
          (click)="addToList()"
        >
          <mat-icon>add</mat-icon>
          Add Producto
        </button>
      </div>
      <!-- Quitar Todo -->
      <div class="centerH centerW" style="height: 55px;">
        <button mat-flat-button color="warn" (click)="deleteList()">
          <mat-icon>delete</mat-icon>
          Quitar Todo
        </button>
      </div>
    </div>
    <div class="containerTable">
      <div class="tablaProductos">
        <table
          mat-table
          [dataSource]="nVentaDetalle"
          class="wFull"
          #tabla1
        >
          <!-- Color Column -->
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let row" (click)="openDialog(row.idventadetalle)">
              {{row.cantidad}}
            </td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
          </ng-container>

          <ng-container matColumnDef="producto">
            <th mat-header-cell *matHeaderCellDef>Producto - Detalles</th>
            <td mat-cell *matCellDef="let row" (click)="openDialog(row.idventadetalle)">
              {{row.codproducto.producto}} - {{row.codproducto.detalles}} ( {{row.umedidausada}} )
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef>Stock</th>
            <td mat-cell *matCellDef="let row" (click)="openDialog(row.idventadetalle)">
              {{row.codproducto.cantidad}}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef>Precio Unit.</th>
            <td mat-cell *matCellDef="let row" (click)="openDialog(row.idventadetalle)">
              S/.&nbsp;{{row.prevesdind}}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="descTotal">
            <th mat-header-cell *matHeaderCellDef>Desc. Total</th>
            <td mat-cell *matCellDef="let row" (click)="openDialog(row.idventadetalle)">
              S/.&nbsp;{{row.desctotal}}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="subTotal">
            <th mat-header-cell *matHeaderCellDef>Subtotal</th>
            <td mat-cell *matCellDef="let row" (click)="openDialog(row.idventadetalle)">
              S/.&nbsp;{{row.subtotal}}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              S/.&nbsp;{{nVenta.totventa }}
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-icon-button
                color="warn"
                (click)="quitarProduct(row.idventadetalle)"
                matTooltipPosition="right"
                matTooltip="Quitar Producto"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr
            mat-row
            class="trHover"
            *matRowDef="let row; columns: displayedColumns;"
          ></tr>
          <tr
            mat-footer-row
            *matFooterRowDef="displayedColumns; sticky: true"
          ></tr>
        </table>
      </div>
      <div class="sideTable">
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Total original</mat-label>
            <input
              matInput
              type="text"
              disabled
              [(ngModel)]="nVenta.totcompra"
            />
            <span matPrefix class="cashDisable">S/.&nbsp;</span>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Descuento Total</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="nVenta.descuento"
              disabled
            />
            <span matPrefix class="cashDisable">S/.&nbsp;</span>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label><strong>TOTAL</strong></mat-label>
            <input matInput [(ngModel)]="nVenta.totventa" type="text" disabled  />
            <span matPrefix class="cashDisable">S/.&nbsp;</span>
            <mat-hint align="end"
              >Vuelto: S/.{{nVenta.saldo-nVenta.totventa}}
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="column centerC finalBtn">
          <button
            mat-stroked-button
            color="primary"
            class="wFull"
            style="height: 55px;"
            routerLink="../"
          >
            Cancelar
          </button>
          <br />
          <button
            mat-flat-button
            color="primary"
            class="wFull mt1"
            style="height: 55px;"
            (click)="onSubmit()"
          >
            Registrar Venta
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
