.registerCliente{
    height: 90%;
    border-radius: 16px;
    overflow: hidden;
    background-color: rgb(50, 195, 205);

}
.imgCliente{
    background-color: yellowgreen;
    height: 100%;
    width: 20%;
}
.formRegisterCliente{
    padding: 5% 0 0 5%;
}