.userContainer{
    margin-top: 1rem;
    padding-top: 10px ;
    width: 100px;
}
.userImg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.icon-admin{
    margin-top: 15px;
}