<mat-menu #appMenu="matMenu">
  <button mat-menu-item (click)="openDialog()">
    <mat-icon>person</mat-icon>
    <span>Perfil</span>
  </button>
  <button mat-menu-item >
    <mat-icon matBadge="5" matBadgeColor="warn">notification_important</mat-icon>
    <span>Notificaciones</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>reply</mat-icon>
    <span>Cerrar sesión</span>
  </button>
</mat-menu>

<button *ngIf="user" mat-button [matMenuTriggerFor]="appMenu" class="userContainer">
  <div class="column centerW">
    <img [src]="imagePath" class="userImg" alt="Imagen Usuario">
    <span class="centerW">{{firstName}} 
      <mat-icon  matSuffix *ngIf="user.tipo==0">admin_panel_settings</mat-icon>
    </span>
  </div>
</button>