.acceso {
  position: fixed;
  top: 0;
  right: 0;
  width: 120px;
  height: 100vh;
  overflow: hidden;
  transform: translateX(120px);
  animation: init3 1.5s forwards;
  animation-delay: 1s;
}
@keyframes init3 {
  0% {
    transform: translateX(120px);
  }
  100% {
    transform: translateX(0px);
  }
}
.fast {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 2rem;
  background-color: white;
  color: #454545;
  font-size: 25px;
  transition: 0.5s;
}
.fast:hover {
  background-color: #454545;
  color: white;
}
.activeQM {
  background-color: #454545;
  color: white;
}
