<div class="quickMcontainer acceso  centerW column">
<app-user></app-user>

    <div class="centerW centerH column">
        <a class="fast centerW centerH" title="Buscar" routerLink="busqueda" routerLinkActive='activeQM'>
            <span class="fas fa-search"></span>
        </a>
        <a class="fast centerW centerH" title="Add Factura" routerLink="busqueda">
            <span class="fas fa-file-medical"></span>
        </a>
        <a class="fast centerW centerH" title="Add Boleta" routerLink="busqueda">
            <span class="fas fa-address-book"></span>
        </a>
        <a class="fast centerW centerH" title="Add Tienda" routerLink="busqueda">
            <span class="fas fa-warehouse"></span>
        </a>
        <a class="fast centerW centerH" title="Add Distribuidor" routerLink="busqueda">
            <span class="fas fa-ambulance"></span>
        </a>
    </div>
</div>