<div class=" acceso  centerW column">
<app-user></app-user>

    <div class="centerW centerH column">
        <a class="fast centerW centerH mat-elevation-z2" title="Buscar" routerLink="busqueda" routerLinkActive='activeQM'>
            <span class="fas fa-search"></span>
        </a>
        <a class="fast centerW centerH mat-elevation-z2" title="Nueva Venta" routerLink="ventas/add" routerLinkActive='activeQM'>
            <span class="fas fa-cart-plus"></span>
        </a>
        <a class="fast centerW centerH mat-elevation-z2" title="Agregar Producto" routerLink="inventario/add" routerLinkActive='activeQM'>
            <span class="fas fas fa-notes-medical"></span>
        </a>        
        <a class="fast centerW centerH mat-elevation-z2" title="Agregar Distribuidor" routerLink="distribuidores/add" routerLinkActive='activeQM'>
            <span class="fas fa-ambulance"></span>
        </a>
        <a class="fast centerW centerH mat-elevation-z2" title="Agregar Cliente" routerLink="clientes/add" routerLinkActive='activeQM'>
            <span class="fas fa-user-plus"></span>
        </a>
    </div>
</div>