.formAddCompra {
  margin: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}
.rowForm1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1rem;
}
.rowForm2 {
  display: grid;
  grid-template-columns: 1fr 3.1fr 1fr;
  grid-column-gap: 1rem; 
}
.pagoRadioGroup {
  padding: 1.5%;
  // background-color: crimson;
}
.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.example-radio-button {
  margin: 5px;
}
.nameProducts{
  overflow: hidden;
  border-radius: 4px;
  background-color: #f0f0f0;
  margin-top: 3px;
  height: 52px;

}
.productsDiv {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #888888;
}
.btnAddProduct {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerTable {
  width: 100%;
  display: grid;
  grid-template-columns: 4.2fr 1fr;
  grid-column-gap: 1rem; 
  // background-color: #E0E0E0;
  // border: 1px solid ;
  // border-radius: 10px;
  // overflow: auto;
  height: 62%;
}
.tablaProductos {
  width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 4px !important;
  // background-color: red;
}
.sideTable{
  display: grid;
  grid-template-rows: 3fr 1fr;
}
.tablaProductos tr:nth-child(even){background-color: #f2f2f2;}
.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}
.cantInput {
  width: 80px;
  height: 50px;
  padding: 0 !important;
  font-size: 12px;
}
.inCant {
  margin: 0 !important;
  padding: 0 !important;
}
.mat-column-cantidad {
  width: 100px;
}
.mat-column-producto {
  //your custom css
  width: 70%;
}
