<div class="contentLoginApp columnCenter" #contentLoad>
    <div class="contentLogin mat-elevation-z2">
        <div class="login columnCenter ">
            <img src="./../../../assets/images/bxbLogo.png" alt="" class="imgRounded">
            <h1 class="title">Tiendita Don Pepe</h1>
            <!-- <div class="formLogincontent columnCenter" id="formLogin">
            </div> -->
            <app-powered-bxb> </app-powered-bxb>
        </div>
    </div>
    <div class="contentLine">
        <div class="line mat-elevation-z2" #line ></div>
    </div>
</div>