.sidebarMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  height: 100vh;
  transform: translateX(-120px);
  animation: init1 1.5s forwards;
  animation-delay: 1s;
  overflow: hidden;

}
@keyframes init1 {
  0% {
  }
  100% {
    transform: translateX(0px);
  }
}

.logoMarca {
  /* size: 80px; */
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.menu {
  /* background-color: violet; */
  height: 100%;
  width: 100%; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* transform: translateX(-100px); */
  display: grid;
  grid-template-rows: 100px 1fr;
}
.links {
  width: 100%;
  /* background-color: turquoise; */
  padding: 1rem 0;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}
.link {
  cursor: pointer;
  color: whitesmoke;
  text-decoration: none;
  font-size: 14px;
  width: 100%;
  /* background-color: white; */
  text-align: center;
  padding: 0.6rem 0 0.4rem;
  /* border: .5px solid black; */
}
.link:hover {
  background-color: #021b79;
}
.active {
  background-color: #021b79;
}
.icon {
  font-size: 1.8rem;
  margin-bottom: 7px;
}
.division {
  width: 90%;
  height: 1.5px;
  background-color: rgba(170, 169, 168, 0.555);
  border: none;
}
