<div class="acceso centerW centerH column">
    <a href="" class="fast centerW centerH" title="Buscar">
        <span class="fas fa-search"></span>
    </a>
    <a href="" class="fast centerW centerH" title="Add Factura">
        <span class="fas fa-file-medical"></span>
    </a>
    <a href="" class="fast centerW centerH" title="Add Boleta">
        <span class="fas fa-address-book"></span>
    </a>
    <a href="" class="fast centerW centerH" title="Add Tienda">
        <span class="fas fa-warehouse"></span>
    </a>
    <a href="" class="fast centerW centerH" title="Add Distribuidor">
        <span class="fas fa-ambulance"></span>
    </a>
</div>