<div class="homeContainer">
    <div class="gridHome">
        <div class="cardHome mat-elevation-z1" routerLink="/inventario">
            <img src="https://image.shutterstock.com/image-photo/smart-logistic-industry-40-qr-260nw-757773682.jpg" alt="Img Here">
            <div>
                <h1> <span class="fas fa-clipboard-list"></span> Inventario </h1>
                <p>Vea su lista de Productos, agrege o modifique segun le paresca conveniente y productivo</p>
            </div>
        </div>
        <div class="cardHome mat-elevation-z1" routerLink="/ventas">
            <img src="https://image.shutterstock.com/image-photo/cafe-beautiful-hispanic-woman-makes-260nw-1026207622.jpg" alt="Img Here">
            <div>
                <h1> <span class="fas fa-shopping-cart"></span> Ventas </h1>
                <p>Vea su lista de Productos, agrege o modifique segun le paresca conveniente y productivo</p>
            </div>
        </div>
        <div class="cardHome mat-elevation-z1" routerLink="/clientes">
            <img src="https://cdn.stocksnap.io/img-thumbs/960w/books-store_3LU15A8E9F.jpg" alt="Img Here">
            <div>
                <h1> <span class="fas fa-users"></span> Clientes </h1>
                <p>Vea su lista de Productos, agrege o modifique segun le paresca conveniente y productivo</p>
            </div>
        </div>
        <div class="cardHome mat-elevation-z1" routerLink="/usuarios">
            <img src="https://cdn.stocksnap.io/img-thumbs/960w/books-selling_KQHXTQZKGW.jpg" alt="Img Here">
            <div>
                <h1> <span class="fas fa-address-card"></span> Usuarios </h1>
                <p>Vea su lista de Productos, agrege o modifique segun le paresca conveniente y productivo</p>
            </div>
        </div>
        <div class="cardHome mat-elevation-z1" routerLink="/distribuidores">
            <img src="https://image.shutterstock.com/image-photo/truck-freight-transportation-port-260nw-658235446.jpg" alt="Img Here">
            <div>
                <h1> <span class="fas fa-truck"></span> Distribuidores </h1>
                <p>Vea su lista de Productos, agrege o modifique segun le paresca conveniente y productivo</p>
            </div>
        </div>
        <div class="cardHome mat-elevation-z1" routerLink="/reportes">
            <img src="https://image.shutterstock.com/image-photo/smart-warehouse-management-system-worker-260nw-1411583318.jpg" alt="Img Here">
            <div>
                <h1> <span class="fas fa-chart-pie"></span> Reportes </h1>
                <p>Vea su lista de Productos, agrege o modifique segun le paresca conveniente y productivo</p>
            </div>
        </div>
    </div>
</div>