<div class="sidebarMenu ">
    <div class="menu centerW column">
        <img src="./../../../assets/images/bxbLogo.png" alt="Logo" class="logoMarca mt1">
        <div class="links mt1">
            <a class="link column">
                <span class="icon fas fa-store"></span>
                <span>Ventas</span>
            </a>
            <a class="link column">
                <span class="icon fas fa-shopping-cart"></span>
                <span>Compras</span>
            </a>
            <a class="link column">
                <span class="icon fas fa-clipboard-list"></span>
                <span>Inventario</span>
            </a>
            <a class="link column">
                <span class="icon fas fa-truck"></span>
                <span>Distribuidores</span>
            </a>
            <div class="centerH">
                <hr class="division">
            </div>
            <a class="link column">
                <span class="icon fas fa-users"></span>
                <span>Clientes</span>
            </a>
            <a class="link column">
                <span class="icon fas fa-address-card"></span>
                <span>Usuarios</span>
            </a>
            <a class="link column">
                <span class="icon fas fa-chart-pie"></span>
                <span>Reportes</span>
            </a>
            <div class="centerH">
                <hr class="division">
            </div>
            <a class="link column">
                <span class="icon fas fa-cog"></span>
                <span>Configuraciones</span>
            </a>
        </div>

    </div>
</div>