<div class="content">
    <div class="sidebarMenu ">
        <div class="menu centerW column">
            <img src="./../../../assets/images/bxbLogo.png" alt="Logo" class="logoMarca mt1">
            <div class="links mt1">
                <a class="link column">
                    <span class="icon fas fa-store"></span>
                    <span>Ventas</span>
                </a>
                <a class="link column">
                    <span class="icon fas fa-shopping-cart"></span>
                    <span>Compras</span>
                </a>
                <a class="link column">
                    <span class="icon fas fa-clipboard-list"></span>
                    <span>Inventario</span>
                </a>
                <a class="link column">
                    <span class="icon fas fa-truck"></span>
                    <span>Distribuidores</span>
                </a>
                <div class="centerH">
                    <hr class="division">
                </div>
                <a class="link column">
                    <span class="icon fas fa-users"></span>
                    <span>Clientes</span>
                </a>
                <a class="link column">
                    <span class="icon fas fa-address-card"></span>
                    <span>Usuarios</span>
                </a>
                <a class="link column">
                    <span class="icon fas fa-chart-pie"></span>
                    <span>Reportes</span>
                </a>
                <div class="centerH">
                    <hr class="division">
                </div>
                <a class="link column">
                    <span class="icon fas fa-cog"></span>
                    <span>Configuraciones</span>
                </a>
            </div>

        </div>
    </div>
    <div class="main  column centerW">
        <div class="title mt1">
            <h1 class="title mt1">Tiendita Don Pepe</h1>
            <p class="title mt1"> Tienda 1 - Av. La Paz 1006</p>
        </div>
        <div class="mainContent centerH centerW">
            <h1>CONTENIDO (TABLAS, INFORMES, ETC...)</h1>
        </div>
    </div>
    <div class="acceso centerW centerH column">
        <div class="user column">
            <img src="./../../../assets/images/pepe.jpg" alt="usuario" class="imgUser">
            <span>Pepito 1</span>
        </div>
        <a href="" class="fast centerW centerH" title="Add Factura">
            <span class="fas fa-file-medical"></span>
        </a>
        <a href="" class="fast centerW centerH" title="Add Boleta">
            <span class="fas fa-address-book"></span>
        </a>
        <a href="" class="fast centerW centerH" title="Add Tienda">
            <span class="fas fa-warehouse"></span>
        </a>
        <a href="" class="fast centerW centerH" title="Add Distribuidor">
            <span class="fas fa-ambulance"></span>
        </a>
    </div>
</div>