.powered {
  color: #95a2b6;
}
.bxb {
  font-weight: bold;
  text-decoration: none;
  color: #00afef;
  text-shadow: -3px 2px 3px rgba(88, 88, 88, 0.4);
}
.x {
  font-family: "Arial Black", Gadget, sans-serif;
  font-style: italic;
  font-size: 18px;
  -webkit-text-stroke: 0.5px black;
  color: rgb(255, 255, 255);
  margin-left: 1px;
  margin-right: 4px;
}
.bRight {
  color: #606062;
}
