<div class="cContainer mat-elevation-z2 mt1">
    <div class="ccTitle paddR">
        <div class="baseLine row">
            <span class="icon fas fa-truck"></span>
            <span class="titleCc">Details Distribuidor </span>

        </div>
        <button mat-icon-button routerLink="../">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
    </div>

    <div class="cFull row b-r10">
        <div class="imgForm addDistribuidorImg"></div>
        <div class="wFull paddR" *ngIf="!distribuidor">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="formRegisterDistribuidor" *ngIf="distribuidor">
            <h1>Distribuidor {{nDistribuidor.iddistrib}}</h1>
            <!-- <form> -->

            <mat-form-field class="wFull mb1">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" [formControl]="nombreFormControl" [(ngModel)]="nDistribuidor.nombre" required>
                <button mat-button *ngIf="nDistribuidor.nombre && !disableBtn" ng matSuffix mat-icon-button
                    aria-label="Clear" (click)="nDistribuidor.nombre=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="nombreFormControl.hasError('required')">
                    Nombre is <strong>required</strong>
                </mat-error>
            </mat-form-field>


            <div class="wFull mb1 selectorFw">
                <mat-form-field>
                    <mat-label>Tipo de Documento</mat-label>
                    <mat-select [(value)]="nDistribuidor.tipodoc" [formControl]="tipodocFormControl">
                        <mat-option value="RUC">RUC</mat-option>
                        <mat-option value="DNI">DNI</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-form-field">
                    <mat-label>Nro. de Documento</mat-label>
                    <input matInput disabled='disableBtn' oninput="this.value=this.value.slice(0,this.maxLength)"
                        type="number" maxlength="11" minlength="8" [formControl]="documentoFormControl"
                        [(ngModel)]="nDistribuidor.nrodoc" required>
                    <button mat-button *ngIf="nDistribuidor.nrodoc && !disableBtn" matSuffix mat-icon-button
                        aria-label="Clear" (click)="nDistribuidor.nrodoc=''">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="documentoFormControl.hasError('required')">
                        Nro. Documento is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-form-field class="wFull mb1">
                <mat-label>Direccion</mat-label>
                <input matInput type="text" [(ngModel)]="nDistribuidor.direccion" [formControl]="direccionFormControl">
                <button mat-button *ngIf="nDistribuidor.direccion && !disableBtn" matSuffix mat-icon-button
                    aria-label="Clear" (click)="nDistribuidor.direccion=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="direccionFormControl.hasError('minlength')">
                    Direccion not <strong>valid</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="wFull mb1">
                <mat-label>Telefono</mat-label>
                <input matInput oninput="this.value=this.value.slice(0,this.maxLength)" type="number" maxlength="9"
                    [formControl]="telefonoFormControl" [(ngModel)]="nDistribuidor.telefono">
                <button mat-button *ngIf="nDistribuidor.telefono && !disableBtn" matSuffix mat-icon-button aria-label="Clear"
                    (click)="nDistribuidor.telefono=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="telefonoFormControl.hasError('minlength')">
                    Min 4, Max 9 <strong>numbers</strong>
                </mat-error>
            </mat-form-field>


            <mat-form-field class="wFull mb1">
                <mat-label>Correo</mat-label>
                <input matInput type="text" [formControl]="correoFormControl" [(ngModel)]="nDistribuidor.correo">
                <button mat-button *ngIf="nDistribuidor.correo && !disableBtn" matSuffix mat-icon-button aria-label="Clear"
                    (click)="nDistribuidor.correo=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="correoFormControl.hasError('email')">
                    Email not <strong>valid</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="wFull mb1">
                <mat-label>Persona de Contacto</mat-label>
                <input matInput type="text" [(ngModel)]="nDistribuidor.perscontact" [formControl]="perscontactFormControl">
                <button mat-button *ngIf="nDistribuidor.perscontact && !disableBtn" matSuffix mat-icon-button aria-label="Clear"
                    (click)="nDistribuidor.perscontact=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="perscontactFormControl.hasError('minlength')">
                  perscontact not <strong>valid</strong>
                </mat-error>
              </mat-form-field>

            <div class="betweenC">
                <button mat-flat-button color="warn" (click)="openDialog()" [disabled]="disableEdit" class="btnFrom">
                    <mat-icon >delete</mat-icon>
                    <span>Eliminar Distribuidor</span>
                </button>
                <div>

                    <button mat-button color="primary" [disabled]="disableEdit" class="btnFrom mr-3"
                        routerLink="../">Cancelar</button>
                    <button mat-raised-button color="primary" *ngIf="!editing" [disabled]="disableEdit" (click)="editOn()"
                        class="btnFrom enviarBtn">

                            <mat-icon >edit</mat-icon>
                            <!-- <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
                            <mat-icon *ngIf="succes" matSuffix color='primary'>done</mat-icon> -->
                            <span>Edit Distribuidor</span>
                    </button>

                    <button mat-raised-button color="primary" *ngIf="editing" [disabled]="disableBtn" (click)="onSubmit()"
                        class="btnFrom enviarBtn">
                        <div class="row centerW centerH">
                            <mat-icon *ngIf="icon">save</mat-icon>
                            <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
                            <mat-icon *ngIf="succes" matSuffix color='primary'>done</mat-icon>
                            <span>Guardar Cambios</span>
                        </div>
                    </button>
                </div>
            </div>

            <!-- </form> -->
        </div>

    </div>
</div>